*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  background-color: #3882F6;
  border: none;
  color: #F9FAF8;
  padding: 8px 32px;
  font-weight: 700;
  border-radius: 8px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: #1F2937;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 120px;
}

.logo-and-links,
.hero {
  width: 860px;
  flex: none;
}

.logo-and-links {
  display: flex;
  justify-content: space-between;
}

.header-links,
.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: lighter;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.header-links {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.hero {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 120px;
}

.hero > * {
  flex: 1;
}

.hero-main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-bottom: 8px;
}

.hero-secondary-text {
  margin-bottom: 16px;
}

.landscape-container {
  min-height: 100%;
}

.info-header {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  width: max-content;
  margin: 60px auto;
}

.info-cards {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 120px;
}

.card {
  width: 180px;
  text-align: center;
}

.picture-container {
  width: 180px;
  height: 180px;
  border: 4px solid #3882F6;
  margin-bottom: 8px;
  border-radius: 16px;
  overflow: hidden;
}

figcaption {
  font-size: 18px;
  color: gray;
}


